@font-face {
    font-family: "lazy-dog";
    src: url("fonts/lazy_dog.ttf");
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');

:root {
    --color-primary: #01273a;
    --color-alt: #75c7fb;
    --color-secondary: #ff9100;
}

body {
    font-family: 'Open-Sans', sans-serif;
    background-color: var(--color-primary);
}

h1,
h2,
h3,
h4,
h5,
h6,
a {
    font-family: 'lazy-dog';
    color: #ff9100;
}

p,
span,
button,
i {
    font-family: 'Open-Sans', sans-serif;
    color: #fff;
}


.c-heading {
    font-size: 4em;
}

.c-subheading {
    font-size: 2em;
}

.c-link {
    font-size: 1.5em;
}


.c-details-item i {
    font-size: 1.5em;
}

.c-dice-array {
    display: flex;
    --dice-offset-y: 25px;
}

.c-dice {
    animation: 0.5s ease-in 0s infinite alternate upAndDown;
}

.c-dice-array .c-dice{
    margin: 0px 3px;
}

.c-dice-array .c-dice:nth-child(1) {
    animation-delay: 0.25s;
}

.c-dice-array .c-dice:nth-child(2) {
    animation-delay: 0.5s;
}

.c-dice-array .c-dice:nth-child(3) {
    animation-delay: 0.75s;
}

.c-dice-array .c-dice:nth-child(4) {
    animation-delay: 1s;
}

.c-dice-array .c-dice:nth-child(5) {
    animation-delay: 1.25s;
}

.c-dice-array .c-dice:nth-child(6) {
    animation-delay: 1.5s;
}

@keyframes upAndDown {
    0% {
        transform: translateY(0px);
    }

    50%{
        scale: 1 1;
    }
    
    100% {
        transform: translateY(var(--dice-offset-y));
        scale: 1 0.75;
    }
}